[submodule "da14531-hal"]
	path = da14531-hal
	url = git@github.com:nickez/da14531-hal
[submodule "da14531-sdk"]
	path = da14531-sdk
	url = git@github.com:nickez/da14531-sdk
[submodule "da14531-sdk-macros"]
	path = da14531-sdk-macros
	url = git@github.com:nickez/da14531-sdk-macros
[submodule "da14531"]
	path = da14531
	url = git@github.com:nickez/da14531
